<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Welcome to Project .md</h1>
      <p>Project .md is a web application for creating and editing markdown. It allows side-by-side edit/view capabilities as well as multiple simultaneous edits from different sources. Login using Google authentication and get down with your markdown!</p>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="view.addMarkdown()"><span class="glyphicon glyphicon-plus"></span></button>
        </span>
        <input type="text" class="form-control" placeholder="Add a markdown..." ng-model="view.name">
      </div>
      <div class="pull-right">
        <h5><small>Allow others to edit:&nbsp;</small><input type="checkbox" class="" ng-model="view.allowOthersToEdit"></h5>
      </div>
    </div>
    </p>
  </div>

  <div class="row markdownlist" ng-if="view.markdowns && view.markdowns.length > 0">
    <h4>Markdowns</h4>
    <ul class="list-group">
      <li ng-repeat="markdown in view.markdowns"
          class="list-group-item clearfix">
        <div class="btn-group pull-right" role="group" aria-label="markdownControls">
          <a ng-click="view.goToView(markdown)" class="btn btn-default">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
          </a>
          <a ng-click="view.goToEdit(markdown)" class="btn btn-default">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          </a>
          <button type="button" class="btn btn-default" ng-click="view.deleteMarkdown(markdown)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
        </div>
        <h5 class="list-group-item-text" ng-bind="markdown.name"></h5>
      </li>
    </ul>
  </div>
</div>
